

.form{
    
    background-color: grey;
    max-width: 350px;
    max-height: 700px;
    margin: 0 auto;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.section {
    display: flex;
    margin: 2%;
    padding: 1%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}
.input {
    width: 90%;
    height: 30px;
    margin: 0.5rem;
}
.label{
    justify-content: center;
    color: rgb(6, 58, 61);
}

.button {
    color: rgb(6, 58, 61);
    padding: 0.5em 1em;
    border: none;
    background: rgb(100, 200, 255);
    cursor: pointer;
}
.buttonPassword{
    background: none;
}

.errors {
    color: rgb(138, 31, 8);
    font-weight: 200;
    font-size: 12px;
    margin: auto;
}

.eyeButtonImg {
    height: 30px;
    width: 50px;
    border-radius: 50%;
}

.title {
    font-family: 'Trebuchet MS', sans-serif;
    color: rgb(6, 58, 61);
    
}